.footer{
    background: #3F3352;
    flex-shrink: 0;
}  

.footer__inner{
    margin: 0 8%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit{
    color: #F3F3F3;
    text-align: center;
}